@import "style";

.header .container {
  background: transparent;
}

.hero {
  background: url(../assets/img/07_item/img_bg_page_title_dark.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 12.5rem;
    margin-bottom: 7rem;
  }

  .hero__item-path {
    color: var(--gray-2);
  }
}

.header {
  margin-bottom: 28rem;
}
.header-clearfix {
  margin-bottom: 33rem !important;
}

.item {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;

  .item__img {
    border-radius: 1rem;
  }

  .item__details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .item-subheading-container {
    display: flex;
    gap: 1rem;
    .subheading-lt-icon {
      background: var(--bg-black);
      border-radius: 2rem;
      gap: 0.7rem;
      padding: 0.7rem 1.3rem;
    }
    .subheading-rt-icon {
      background: var(--item-box-bg-color);
      border-radius: 50%;
      width: 3.1rem;
      height: 3.1rem;
    }
    .like-tag {
      width: 6.65rem;
      height: initial;

      .heart {
        left: -3rem;
      }
      span {
        right: 1.6rem;
      }
    }
  }

  .item-owners-container,
  .item-specification-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .item-owners__item {
    display: flex;
    gap: 1.15rem;
    align-items: center;
    background: var(--item-box-bg-color);
    border-radius: 1.7rem;
    padding: 0.9rem 1rem;

    .item-owners__item-img {
      border-radius: 1.7rem;
      width: 4.5rem;
      height: 4.5rem;
    }
    .item-owners__item-txts {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      padding-top: 3px;
    }
  }

  .item-spec__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--item-box-bg-color);
    border-radius: 1.7rem;
    padding: 1.3rem 2.1rem 1.25rem;
  }

  .card__place-bid {
    background: transparent;
    color: var(--primary-text-color);
    border: 2px solid var(--primary-text-color);
    height: 4.5rem;
    .place-bid__checkbox {
      box-shadow: 0 0 12px -2px rgba(255, 255, 255, 1);
    }
  }

  .item-tabs__header {
    display: flex;
    gap: 5rem;
    border-bottom: 2px solid #262531;

    .tabs-header__th {
      padding: 1rem 0.25rem 1.02rem;
      transition-duration: 0.35s;
      transition-property: color, width;
      bottom: -2px;
      width: 11rem;
      text-overflow: clip;

      &:hover {
        color: var(--primary-color);
        border-bottom: 2px solid var(--primary-color);
      }
    }
    .tabs-header__th--active {
      color: var(--primary-color);
      font-weight: 700;
      width: 80%;
      border-bottom: 2px solid var(--primary-color);
    }
  }

  .item-tabs__item {
    height: 21.5rem;
    overflow-y: scroll;
  }

  .item-tabs__history {
    margin-top: 0;
    margin-bottom: 1.3rem;
    padding-right: 2rem;
    height: 21.5rem;
    overflow-y: scroll;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      width: 2px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--dark-gray);
    }
  }
}
.item-history__item:not(:last-child) {
  border-bottom: 2px solid rgba(38, 37, 49, 0.4);
}
.item-history__item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1.5rem;
  padding: 1.3rem 0;

  .coll-card__avatar {
    width: 4.5rem;
    height: 4.4rem;
    img {
      border-radius: 1.4rem;
    }
    .coll-card__verified-badge {
      right: -3px;
      bottom: -2px;
      transform: scale(0.85);
    }
  }

  .item-tabs__price {
    text-align: right;
  }
}

.item-tabs__main {
  display: flex;
  overflow-x: hidden;
  margin-top: 1rem;
  .item-tabs__history,
  .item-tabs__info,
  .item-tabs__provenance {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    width: 0;
    overflow: auto;
  }

  .item-tabs__info,
  .item-tabs__provenance {
    position: relative;
    left: -12px;
  }

  .active-x {
    opacity: 1;
    width: 100%;
    height: 21.5rem;
  }
}
